
<div class="appContainer">
    <div class="titleBar">
        Tree view
    </div>
    <div class="treeView">

    </div>
    <div class="actionContainer">
            <button (click)="expanCollapseAll(false)">Collapse All</button>
            <button (click)="expanCollapseAll(true)">Expand All</button>
    </div>
    <div class="treeContainer">
        <app-tree-node [currentNode]="jsonData.children"></app-tree-node>
    </div>
    <div class="detailsContainer" *ngIf="utility.selectedStateDetails">
        <table>
            <tr>
                <td>
                    {{utility.selectedStateDetails.name}}
                </td>
                <td>
                    {{utility.selectedStateDetails.value | currency:'INR':'':'1.0-0'}} ({{utility.selectedStateDetails.value | readPopulation}})
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- author: senthil-Nathan -->